<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="col-3"><i class="fas fa-shopping-cart"></i> Bolsa de compras</div>
            <div class="col-3"><i class="fas fa-truck"></i> Tipo de entrega</div>
            <div class="col-3"><i class="far fa-credit-card"></i> Pagar</div>
            <div class="col-3"><i class="fas fa-check-circle"></i> Confirmacion de compra</div>


            <ul class="nav nav-tabs">
                <li class="active"><a data-bs-toggle="tab" href="#home">Home</a></li>
                <li><a data-bs-toggle="tab" href="#menu1">Menu 1</a></li>
                <li><a data-bs-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active show">
                    <h3 class="fw-bold py-5">Bolsa de compras</h3>
                    <div class="col-md-10">

                    </div>
                    <div class="col-md-2">
                        <p>Cantidad de articulos: </p>
                        <p>Subtotal del pedido: </p>
                        <p>Envio: </p>
                        <hr>
                        <p>TOTAL:</p>
                        <button class="btn btn-primary">Continuar</button>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>