<section class="container-fluid my-5 text-center">
    <img class="img-fluid" src="/img/publicidad-filtro.png" alt="">
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="fw-bold">Filtros</h3>
                <div class="p-3 m-3 bg-light" style="border-radius: 10px;">
                    <label class="form-label mt-2">Categoria</label>
                    <select id="categoria" class="form-select">
                        <option value="Seleccione una opcion">Seleccione una opcion</option>
                        <option value="Ni単os">Ni単os</option>
                        <option value="Ni単as">Ni単as</option>
                    </select>
                    <label class="form-label mt-2">Precio</label>
                    <select id="Precio" class="form-select">
                        <option value="Seleccione una opcion">Seleccione una opcion</option>
                        <option value="Mas de 100 soles">Mas de 100 soles</option>
                        <option value="Menos de 100 soles">Menos de 100 soles</option>
                    </select>
                    <label class="form-label mt-2">Marca</label>
                    <select id="Marca" class="form-select">
                        <option value="Seleccione una opcion">Seleccione una opcion</option>
                        <option value="Apple">Apple</option>
                        <option value="Samsung">Samsung</option>
                    </select>
                    <label class="form-label mt-2">Tipo de Producto</label>
                    <select id="TipoProducto" class="form-select">
                        <option value="Seleccione una opcion">Seleccione una opcion</option>
                        <option value="Verano">Verano</option>
                        <option value="Invierno">Invierno</option>
                    </select>
                    <label class="form-label mt-2">Colores</label>
                    <select id="Colores" class="form-select">
                        <option value="Seleccione una opcion">Seleccione una opcion</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                    </select>
                    <div class="text-center my-3">
                        <button class="btn" style="background-color: #F25854; color: white">Aplicar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card m-3 p-3" style="width: 13rem;">
                            <img src="https://coolboxpe.vtexassets.com/arquivos/ids/180764-1200-auto?v=637496103843700000&width=1200&height=auto&aspect=true" alt="Mejores precios" class="card-img-top bg-ligth">
                            <div class="card-body">
                                <p class="fw-bold">S/.349.00</p>
                                <p>Bose QuietComfort 35</p>
                                <p>Bose</p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" style="color:#F25854">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color:#F25854">1</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color:#F25854">2</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color:#F25854">3</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color:#F25854">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>