<section class="container-fluid py-5" style="background-color: #F8F8F8;">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-3">
                <img src="/img/logo-principal.png" alt="replay">
                <h3 class="fw-bold">Medios de pago</h3>
                <img src="/img/medios-pago-paypal.png" alt="">
                <p>© Copyright 2021 replay.pe</p>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Sobre Replay</h3>
                <p><a href="#">¿Quiénes somos?</a></p>
                <p><a href="#">Nuestras tiendas</a></p>
                <p><a href="#">Trabaja con nosotros</a></p>
                <p><a href="#">Devoluciones y cambios</a></p>
                <p><a href="#">Pedidos</a></p>
                <p><a href="#">Garantía</a></p>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Contáctenos</h3>
                <p><i class="fas fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                <p><i class="fas fa-phone-alt"></i> +51 901487291</p>
                <p><i class="far fa-envelope"></i> replay@gmail.com</p>
            </div>
            <div class="col-md-3">
                <h3 class="fw-bold">Notificaciones</h3>
                <p>¡Suscribete y recibe todas nuestras ofertas!</p>
            </div>
        </div>
    </div>
</section>