<section class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 min-vh-100 d-none d-md-flex" style="background: url(/img/auth.png); background-repeat: no-repeat; background-position: center; background-size: cover">
        </div>
        <div class="col-md-6">
            <div class="container text-center">
                <form action="/ingreso" method="post">
                    <div class="mb-3">
                        <h3 class="fw-bold">Iniciar sesión</h3>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="email" aria-describedby="correo">
                        </div>
                        <div class="mb-3">
                            <label for="pass" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="pass" aria-describedby="pass">
                        </div>
                        <a style="background-color: #F25854; color: white;" class="btn btn-block" href="/index/logueado">Iniciar sesion</a>
                    </div>
                </form>
                <a href="/registro">Crear Cuenta</a>
            </div>
        </div>
    </div>
</section>
