<section class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 min-vh-100 d-none d-md-flex" style="background: url(/img/auth.png); background-repeat: no-repeat; background-position: center; background-size: cover">
        </div>
        <div class="col-md-6">
            <div class="container text-center">
                <form action="/registro" method="post">
                    <div class="mb-3">
                        <h3 class="fw-bold">Registro</h3>
                        <div class="mb-3">
                            <label for="name" class="form-label">Username</label>
                            <input type="name" class="form-control" id="name" aria-describedby="name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="email" aria-describedby="correo">
                        </div>
                        <div class="mb-3">
                            <label for="pass" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="pass" aria-describedby="pass">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Registro</button>
                    </div>
                </form>
                <a href="/ingreso">Iniciar Sesion</a>
            </div>
        </div>
    </div>
</section>
